/*
Copyright 2015, 2016 OpenMarket Ltd

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.mx_MatrixChat_splash {
    position: relative;
    height: 100%;
}

.mx_MatrixChat_splashButtons {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 30px;
}

.mx_MatrixChat_wrapper {
    display: flex;

    flex-direction: column;

    width: 100%;
    height: 100%;
}

.mx_MatrixToolbar {
    order: 1;

    height: 40px;
}

.mx_MatrixChat {
    width: 100%;
    height: 100%;

    display: flex;

    order: 2;

    flex: 1;
    min-height: 0;
}

.mx_MatrixChat_syncError {
    color: $accent-fg-color;
    background-color: $warning-bg-color;
    border-radius: 5px;
    display: table;
    padding: 30px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

/* not the left panel, and not the resize handle, so the roomview/groupview/... */
.mx_MatrixChat > :not(.mx_LeftPanel):not(.mx_LeftPanel_container):not(.mx_LeftPanel2):not(.mx_ResizeHandle):not(.nv_LeftPanel2) {
    background-color: $primary-bg-color;

    flex: 1 1 0;
    min-width: 0;

    /* To fix https://github.com/vector-im/element-web/issues/3298 where Safari
       needed height 100% all the way down to the HomePage. Height does not
       have to be auto, empirically.
    */
    height: 100%;
}

.mx_MatrixChat > .mx_ResizeHandle_horizontal:hover {
    position: relative;

    &::before {
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translate(0, -50%);

        height: 64px; // to match width of the ones on roomlist
        width: 4px;
        border-radius: 4px;

        content: ' ';

        background-color: $primary-fg-color;
        opacity: 0.8;
    }
}
