.nv_ConnectProxyDialog {
    .mx_Dialog_buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .mx_Checkbox {
            margin-right: 15px;
        }
    }
}
