.mx_DateSeparator {
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    user-select: none;
}

.mx_DateSeparator > div {
    font-weight: 600;
    background: rgba(90, 105, 115, 0.50);
    height: 25px;
    line-height: 25px;
    border-radius: 15px;
    padding: 0 12px;
    color: #ffffff;
}
