/*
Copyright 2019 New Vector Ltd
Copyright 2019 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.mx_MessageActionBar {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    display: flex;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
    background: $message-action-bar-bg-color;
    top: -18px;
    right: 8px;
    user-select: none;
    z-index: 1;

    // Adds a previous event safe area so that you can't accidentally hover the
    // previous event while trying to mouse into the action bar or from the
    // react button to its tooltip.
    &::before {
        content: '';
        position: absolute;
        // tooltip safe mousing area + tooltip overhang +
        // action bar + action bar offset from event
        width: calc(10px + 48px + 100% + 8px);
        // safe area + action bar
        height: calc(20px + 100%);
        top: -20px;
        left: -58px;
        z-index: -1;
        cursor: initial;
    }

    > * {
        white-space: nowrap;
        display: inline-block;
        position: relative;
        border: 1px solid $message-action-bar-border-color;
        margin-left: -1px;

        &:hover {
            border-color: $message-action-bar-hover-border-color;
            z-index: 1;
        }

        &:first-child {
            border-radius: 3px 0 0 3px;
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
        }

        &:only-child {
            border-radius: 3px;
        }
    }
}


.mx_MessageActionBar_maskButton {
    width: 27px;
}

.mx_MessageActionBar_maskButton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $message-action-bar-fg-color;
}

.mx_MessageActionBar_reactButton::after {
    mask-image: url('$(res)/img/element-icons/room/message-bar/emoji.svg');
}

.mx_MessageActionBar_replyButton::after {
    mask-image: url('$(res)/img/element-icons/room/message-bar/reply.svg');
}

.mx_MessageActionBar_editButton::after {
    mask-image: url('$(res)/img/element-icons/room/message-bar/edit.svg');
}

.mx_MessageActionBar_optionsButton::after {
    mask-image: url('$(res)/img/element-icons/context-menu.svg');
}
