/*
Copyright 2019 New Vector Ltd.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

// Not actually a component but things shared by settings components
.mx_UserSettingsDialog,
.mx_RoomSettingsDialog {
    width: 90vw;
    max-width: 1000px;
    // set the height too since tabbed view scrolls itself.
    height: 80vh;
    padding: 25px;

    .mx_TabbedView {
        top: 65px;
    }

    .mx_TabbedView .mx_SettingsTab {
        box-sizing: border-box;
        min-width: 580px;
        padding-right: 100px;

        // Put some padding on the bottom to avoid the settings tab from
        // colliding harshly with the dialog when scrolled down.
        padding-bottom: 100px;
    }

    .mx_Dialog_title {
        margin-bottom: 24px;
    }
}

.mx_ChatNetworksDialog {
    width: 90vw;
    max-width: 1000px;
    // set the height too since tabbed view scrolls itself.
    height: 80vh;
    padding: 0;
    margin: -20px;
}
.mx_ChatNetworksDialog .mx_Dialog_cancelButton {
    right: 20px;
    top: 18px;
}

.ChatNetworksDialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ChatNetworksDialog-leftbar {
    width: 30%;
    height: 100%;
    background: #f2f3f5;
    padding: 0 30px;
}
.ChatNetworksDialog-leftbar .tabbar .tab {
    padding: 5px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: $tab-label-fg-color;
    cursor: pointer;
}
.ChatNetworksDialog-leftbar .tabbar .tab.selected:hover,
.ChatNetworksDialog-leftbar .tabbar .tab.selected {
    background: #747f8d61;
}
.ChatNetworksDialog-leftbar .tabbar .tab:hover {
    background: #747f8d26;
}
.ChatNetworksDialog-leftbar .tabbar .tab .network-icon {
    height: 22px;
    flex: 0 0 24px;
    margin-right: 8px;
}
.ChatNetworksDialog-leftbar .tabbar .tab .name {
    margin-right: auto;
}
.ChatNetworksDialog .status-icon {
    height: 16px;
    color: #747f8d61;
}
.ChatNetworksDialog-leftbar .tabbar .tab.selected .status-icon {
    color: #fff;
}
.ChatNetworksDialog .status-icon.warn,
.ChatNetworksDialog-leftbar .tabbar .tab.selected .status-icon.warn {
    color: #ffad61;
}
.ChatNetworksDialog .status-icon.error,
.ChatNetworksDialog-leftbar .tabbar .tab.selected .status-icon.error {
    color: #ff6363;
}
.ChatNetworksDialog .whatsapp-warn {
    margin-right: 6px;
}

.ChatNetworksDialog-content {
    width: 70%;
    height: 100%;
    padding: 0 30px;
    color: $tab-label-fg-color;
}

.ChatNetworksDialog-content .facebook-banner {
    width: 100%;
    height: 160px;
    margin-bottom: 80px;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 8px;
}
.ChatNetworksDialog-content .facebook-profile {
    position: absolute;
    bottom: -50px;
    left: 30px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 4px white solid;
    background-size: cover;
    background-position: center center;
}
.ChatNetworksDialog-content .facebook-screen-name {
    font-size: 12px;
    color: #757575;
}

.ChatNetworksDialog-content .twitter-banner {
    width: 100%;
    height: 160px;
    margin-bottom: 80px;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 8px;
}
.ChatNetworksDialog-content .twitter-profile {
    position: absolute;
    bottom: -50px;
    left: 30px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 4px white solid;
    background-size: cover;
    background-position: center center;
}
.ChatNetworksDialog-content .twitter-screen-name {
    font-size: 12px;
    color: #757575;
}

.ChatNetworksDialog-content .telegram-phone {
    font-size: 12px;
    color: #757575;
    margin-left: 10px;
}
.ChatNetworksDialog-content .instagram-username {
    font-size: 12px;
    color: #757575;
    margin-left: 10px;
}
.ChatNetworksDialog-content .slack-username {
    font-size: 12px;
    color: #757575;
    margin-left: 10px;
}

.ChatNetworksDialog .login,
.ChatNetworksDialog input[type='submit'].login {
    padding: 12px 20px;
    border-radius: 6px;
    margin: 10px 0;
    color: white;
    font-size: 1.6rem;
    border: none;
}

.ChatNetworksDialog .error-pill {
    color: rgb(221, 61, 61);
    border: 1px solid rgb(221, 61, 61);
    border-radius: 6px;
    padding: 6px 10px;
    display: inline-block;
}
.ChatNetworksDialog .input {
    padding: 12px 20px;
    border-radius: 6px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    font-size: 1.6rem;
    display: block;
    margin: 0;
    outline: none;
    transition: 150ms border-color;
}
.ChatNetworksDialog .input:focus {
    margin: -1px;
    border-width: 2px;
}

.ChatNetworksDialog .login.facebook {
    background-color: #0a7cff;
}
.ChatNetworksDialog .login.facebook:hover {
    background-color: #4d4dff;
}
.ChatNetworksDialog .login.hangouts {
    background-color: #0f9d58;
}
.ChatNetworksDialog .login.hangouts:hover {
    background-color: #23aa69;
}
.ChatNetworksDialog .login.discord {
    background-color: #7289da;
}
.ChatNetworksDialog .login.discord:hover {
    background-color: #677bc4;
}
.ChatNetworksDialog .login.instagram {
    background-image: linear-gradient(45deg, #b31f88, #d03158);
}
.ChatNetworksDialog .login.instagram:hover {
    background-image: linear-gradient(45deg, #d03158, #b31f88);
}
.ChatNetworksDialog .login.skype {
    background-color: #1da1f2;
}
.ChatNetworksDialog .login.skype:hover {
    background-color: #0078ca;
}
.ChatNetworksDialog .login.slack {
    background-color: #4a154b;
}
.ChatNetworksDialog .login.slack:hover {
    background-color: rgba(74, 21, 75, 0.9);
}
.ChatNetworksDialog .input.telegram {
    width: 300px;
}
.ChatNetworksDialog .input.telegram:hover,
.ChatNetworksDialog .input.telegram:focus {
    border-color: #5782a3;
}
.ChatNetworksDialog .login.telegram {
    background-color: #5782a3;
}
.ChatNetworksDialog .login.telegram:hover {
    background-color: #456f92;
}
.ChatNetworksDialog .login.twitter {
    background-color: #1da1f2;
}
.ChatNetworksDialog .login.twitter:hover {
    background-color: #1a91da;
}
.ChatNetworksDialog .login.whatsapp {
    background-color: #00bfa5;
}
.ChatNetworksDialog .login.whatsapp:hover {
    background-color: #00d1b5;
}
.ChatNetworksDialog .login.signal {
    background-color: #4c83f2;
}
.ChatNetworksDialog .login.signal {
    background-color: #4c83f2;
}

.ChatNetworksDialog .shutdown-bridge {
    cursor: pointer;
    margin-left: 10px;
    font-size: 12px;
}

.ChatNetworksDialog .bridge-info {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 11px;
    color: #b1b1b1;
    max-width: 64%;
    max-height: 45%;
}
.ChatNetworksDialog .bridge-info:hover {
    overflow: scroll;
}
.ChatNetworksDialog .bridge-info .info {
    display: none;
}
.ChatNetworksDialog .bridge-info:hover .pi {
    display: none;
}
.ChatNetworksDialog .bridge-info:hover .info {
    display: block;
    display: inline;
    margin-left: 10px;
}

.ChatNetworksDialog .puppet-list {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ChatNetworksDialog .puppet {
    border-radius: 3px;
    padding: 4px 13px;
    display: flex;
    align-items: center;
}
.ChatNetworksDialog .puppet .logout {
    margin-left: 10px;
}
.ChatNetworksDialog .puppet:hover {
    background: #747f8d26;
}

.ChatNetworksDialog .spinner {
    margin-top: 30px;
    height: 24px;
}

.ChatNetworksDialog .puppet-spinner {
    height: 16px;
}
