.nv_BridgedIcon {
    width: 16px;
    height: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nv_BridgedIcon::before {
    content: "";
    flex-shrink: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.nv_BridgedIcon_facebook::before {
    background-image: url('$(res)/img/social/facebook_messenger.svg');
}
.nv_BridgedIcon_hangouts::before {
    background-image: url('$(res)/img/social/hangouts.svg');
}
.nv_BridgedIcon_telegram::before {
    background-image: url('$(res)/img/social/telegram.svg');
}
.nv_BridgedIcon_whatsapp::before {
    background-image: url('$(res)/img/social/whatsapp.svg');
}
.nv_BridgedIcon_instagram::before {
    background-image: url('$(res)/img/social/instagram.svg');
}
.nv_BridgedIcon_twitter::before {
    background-image: url('$(res)/img/social/twitter.svg');
}
.nv_BridgedIcon_slack::before {
    background-image: url('$(res)/img/social/slack.svg');
}
.nv_BridgedIcon_nova::before {
    background-image: url('$(res)/img/social/beeper.svg');
}
.nv_BridgedIcon_matrix::before {
    background-image: url('$(res)/img/social/matrix-m.svg');
}
.nv_BridgedIcon_discord::before {
    background-image: url('$(res)/img/social/discord.svg');
}
.nv_BridgedIcon_skype::before {
    background-image: url('$(res)/img/social/skype.svg');
}
.nv_BridgedIcon_androidmessages::before {
    background-image: url('$(res)/img/social/amp.svg');
}
.nv_BridgedIcon_signal::before {
    background-image: url('$(res)/img/social/signal.svg');
}

