.mx_EventTile {
    max-width: 100%;
    position: relative;
    .mx_MFileBody::before {
        background-color: $accent-color;
    }
}

.mx_EventTile_reply {
    cursor: pointer;
    user-select: none;
}

.mx_SenderTimestamp_wrapper {
    display: flex;
    align-items: center;
    margin-left: 40px;
    .mx_SenderProfile_name {
        margin-right: 8px;
    }
}

.mx_MessageBody {
    align-items: center;
    display: flex;
}

.mx_EventTile_message, .mx_EventTile_sticker {
    margin-bottom: 3px;
    .mx_EventTile_line {
        margin-left: 42px;
        font-size: 14px;
        padding: 3px 8px;
        display: flex;
        flex-direction: column;
        border-radius: 13px;
        position: relative;
        max-width: 65%;
    }
    &.mx_EventTile_messageOut .mx_EventTile_line {
        margin-left: 0;
    }
    .mx_SenderProfile_wrapper {
        display: flex;
        margin-bottom: 3px;
        align-items: center;
    }
    .mx_SenderProfile {
        font-size: 13px;
        display: inline;
        font-weight: 600;
        cursor: pointer;
    }
    .mx_MessageTimestamp {
        font-size: 12px;
        user-select: none;
    }
    .mx_EventTile_avatar {
        position: absolute;
        bottom: 0;
        left: 0;
        top: auto;
        cursor: pointer;
        user-select: none;
    }

    blockquote.mx_ReplyThread {
        margin-top: 6px;
        .mx_DateSeparator {
            display: none;
        }
        .mx_EventTile_message {
            flex-direction: column;
        }
    }
}
.mx_EventTile_continuation {
    .mx_SenderProfile_wrapper {
        margin-bottom: 0;
    }
}
blockquote.mx_ReplyThread {
    border-left: 2px solid $accent-color;
    padding-left: 7px;
    margin: 0 0 7px 0;
    .nv_DateSeparator {
        display: none;
    }
    .mx_SenderProfile_name {
        color: $accent-color;
    }
    .mx_EventTile_reply {
        padding: 0;
    }
}

.mx_EventTile_messageOut {
    .mx_MessageBody {
        justify-content: flex-start;
        flex-direction: row-reverse;
    }
}

.mx_EventTile_sticker .mx_EventTile_line {
    min-width: 150px;
}

.mx_EventTile_messageIn {
    .mx_EventTile_line {
        background: #F2F3F5;
    }
    .mx_MessageTimestamp {
        color: #a8b4be;
        font-size: 12px;
    }
}

.mx_EventTile_messageOut {
    .mx_EventTile_line {
        background: #ccf3ff;
    }
    .mx_MessageTimestamp {
        color: #7bc9e0;
    }
}

.mx_EventTile_droplet {
    margin-bottom: 8px;
    &.mx_EventTile_messageIn .mx_EventTile_line {
        border-bottom-left-radius: 0;
    }
    &.mx_EventTile_messageOut .mx_EventTile_line {
        border-bottom-right-radius: 0;
    }
    .mx_EventTile_line::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -10px;
        width: 16px;
        height: 10px;
        clip-path: url('#left-droplet');
        background-color: inherit;
        z-index: 0;
    }
    &.mx_EventTile_image, &.mx_EventTile_video, &.mx_EventTile_sticker {
        .mx_EventTile_line {
            border-bottom-left-radius: 13px;
            border-bottom-right-radius: 13px;
        }
        .mx_EventTile_line::before {
            display: none;
        }
    }
}

.mx_EventTile_statusGroup {
    display: flex;
    .mx_EventTile_readAvatars {
        position: relative;
        display: inline-block;
        width: 14px;
        height: 14px;
        user-select: none;
        z-index: 1;
    }
    .mx_EventTile_readAvatars:empty {
        width: 0;
        margin: 0;
    }
}

.mx_EventTile_readAvatars .mx_BaseAvatar {
    position: absolute;
    display: inline-block;
    height: $font-14px;
    width: $font-14px;
}

.mx_EventTile_readAvatarRemainder {
    color: $event-timestamp-color;
    font-size: $font-11px;
    position: absolute;
}

.mx_EventTile_sending .mx_EventTile_statusGroup,
.mx_EventTile_notSent .mx_EventTile_statusGroup {
    &::after {
        margin-left: 5px;
        color: $accent-color;
        content: url('$(res)/themes/nova-light/img/dialogs_sending.svg');
    }
}

.mx_EventTile_message:hover {
    .mx_MessageActionBar {
        visibility: visible;
        right: -85px;
    }
}

.mx_EventTile_edited {
    font-size: 13px;
}

.mx_EventTile_message.mx_EventTile_messageOut .mx_EventTile_edited {
    color: #7bc9e0;
}

.mx_EventTile_message.mx_EventTile_messageIn .mx_EventTile_edited {
    color: #98a2aa;
}

.mx_EventTile .mx_EditMessageComposer .mx_BasicMessageComposer_input:focus {
    border-color: $accent-color;
}

.mx_EventTile .mx_EditMessageComposer .mx_EditMessageComposer_buttons {
    position: static;
    background: none;
    margin: 0;
    padding: 3px 4px 4px 4px;
    .mx_AccessibleButton {
        border-radius: 3px;
    }
}
.mx_EventTile:not(.mx_EventTile_droplet) .mx_EditMessageComposer_buttons .mx_AccessibleButton {
    border-bottom-right-radius: 9px;
}

.mx_EventTile .mx_EditMessageComposer .mx_BasicMessageComposer_input {
    border-radius: 8px 8px 3px 3px;
    margin: 6px 4px 0 4px;
    padding: 6px 6px;
}

.mx_EventTile_image, .mx_EventTile_video {
    .mx_SenderProfile_name {
        margin: 9px 0 6px 14px;
        display: block;
    }
    .mx_EventTile_line {
        min-width: 140px;
        max-height: 700px;
        padding: 0;
        border-radius: 13px;
        overflow: hidden;
        &::before, &::after {
            display: none;
        }
    }
}

.mx_EventTile_line > .mx_MVideoBody,
.mx_MImageBody_thumbnail_container {
    line-height: 0;
}

.mx_EventTile_image .mx_MImageBody_thumbnail_container {
    & > div:first-child {
        display: none;
    }
    .mx_MImageBody_thumbnail {
        position: static;
        object-fit: cover;
    }
}

.mx_EventTile_image.mx_EventTile_continuation, .mx_EventTile_video.mx_EventTile_continuation, .mx_EventTile_image.mx_EventTile_messageOut {
    .mx_EventTile_line {
        background: none;
        box-shadow: none;
    }
}

.mx_EventTile_e2eIcon {
    position: absolute;
    top: 7px;
    right: 11px;
    width: 15px;
    height: 15px;
    display: block;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: contain;
}

.mx_EventTile_e2eIcon_undecryptable, .mx_EventTile_e2eIcon_unverified {
    background-image: url('$(res)/img/e2e/warning.svg');
    opacity: 1;
}

.mx_EventTile_e2eIcon_unknown {
    background-image: url('$(res)/img/e2e/warning.svg');
    opacity: 1;
}

.mx_EventTile_e2eIcon_unencrypted {
    background-image: url('$(res)/img/e2e/warning.svg');
    opacity: 1;
}

.mx_EventTile_e2eIcon_hidden {
    display: none;
}

.mx_EventTile_keyRequestInfo {
    margin-top: 3px;
    font-size: 13px;
    color: #acacac;
    .mx_TooltipButton {
        font-size: 10px;
        border: 1px solid #acacac;
        color: #acacac;
    }
}

.mx_MNoticeBody.mx_EventTile_content {
    font-size: 13px;
    color: #acacac;
    opacity: 1;
}

.mx_EventTile .mx_ReactionsRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
    &, & .mx_ReactionsRowButton, & .mx_ReactionsRow_showAll {
        margin: 1px 3px;
    }
}

.mx_MTextBody {
    white-space: pre-wrap;
}

.mx_EventTile_body.markdown-body {
    font-size: 14px;
    color: $primary-fg-color;
    line-height: 1.2;
    white-space: normal !important;
    .mx_EventTile_pre_container, code {
        font-size: 13px !important;
    }
    blockquote {
        color: $primary-fg-color;
        padding-left: 7px;
        margin: 6px 0;
        border-left: 2px solid $accent-color;
        vertical-align: middle;
    }
    code {
        border-radius: 3px;
        padding: 1px 5px;
        line-height: 1.45;
        &::before, &::after {
            content: ""; // override gfm.css
        }
    }
    pre {
        padding: 5px 10px;
        code {
            padding: 0;
            white-space: pre-wrap; // see https://gitlab.com/nova/issues/-/issues/662
        }
    }
    & > code, pre {
        background-color: rgba(255, 255, 255, 0.65);
    }
    p, ul, ol, dl, blockquote, pre, table {
        margin-bottom: 3px;
        margin-top: 3px;
    }
    & > blockquote:first-child {
        margin-top: 3px !important; // override gfm.css
    }
    & > blockquote:last-child {
        margin-bottom: 3px !important; // override gfm.css
    }
    & > .mx_EventTile_pre_container:first-child pre {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    & > .mx_EventTile_pre_container:last-child pre {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

.mx_EventTile_messageIn {
    .mx_EventTile_edited,
    .mx_MessageBody .mx_MessageTimestamp,
    .mx_EventTile_statusGroup &::after,
    .mx_EventTile_readAvatars,
    .mx_ReactionsRow {
        margin-left: 8px;
        z-index: 1;
    }
}

.mx_EventTile_messageOut {
    .mx_EventTile_edited,
    .mx_MessageBody .mx_MessageTimestamp,
    .mx_EventTile_statusGroup::after,
    .mx_EventTile_readAvatars,
    .mx_ReactionsRow {
        margin-left: 0;
        margin-right: 8px;
        z-index: 1;
    }
}
