.mx_JumpToBottomButton {
    z-index: 1000;
    position: absolute;
    // 12 because height is 50 but button is only 38 = 12+(50-38) = 24
    bottom: 12px;
    right: 17px;
    width: 42px;
    // give it a fixed height so the badge doesn't make
    // it taller and pop upwards when visible
    height: 54px;
    text-align: center;
}

.mx_JumpToBottomButton_badge {
    position: relative;
    top: -12px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    // to be able to get it centered
    // with text-align in parent
    display: inline-block;
    padding: 0 4px;
    color: $secondary-accent-color;
    background-color: $warning-color;
}

.mx_JumpToBottomButton_scrollDown {
    position: relative;
    height: 42px;
    border-radius: 21px;
    box-sizing: border-box;
    background: $primary-bg-color;
    box-shadow: 0 1px 1px #A8A8A8;
    cursor: pointer;
    &:hover {
        background-color: #F2F3F5;
    }
}

.mx_JumpToBottomButton_scrollDown::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mask: url('$(res)/themes/nova-light/img/icon-jump-to-bottom.svg');
    mask-repeat: no-repeat;
    mask-position: 13px 17px;
    background: #A8A8A8;
}
