.mx_MessageComposer {
    border: 1px solid $panel-divider-color;
    position: relative;
    border-radius: 6px;
    background-color: #F2F3F5;
}
.mx_MessageComposer_wrapper {
    border-top: none;
}
.mx_MessageComposer_e2eIcon.mx_E2EIcon {
    left:5px;
}
