.nv_NotificationBadge {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        border-radius: 50%;
        content: "";
        width: 9px;
        height: 9px;
        margin: 2px;
        background-color: #000000;
        opacity: 0;
    }
    &_favourite::before {
        margin: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        mask-image: url('$(res)/themes/nova-light/img/icon-star.svg');
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
    }
    &_unread::before, &_unread:hover::before, &:hover::before {
        background-color: #000000;
        opacity: 0.2;
    }
    &_important::before, &_important:hover::before {
        background-color: #F67851;
        opacity: 1;
    }
}
