.nv_RoomList2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.nv_LeftPanel2_roomListWrapper {
    position: relative;
    overflow: hidden;
}
.nv_LeftPanel_actualRoomListContainer {
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.nv_HideScrollbarFix {
    &::-webkit-scrollbar {
        display: none;
    }
}
