.nv_RoomTile2 {
    position: relative;
    padding: 6px 14px 6px 35px;
    height: 54px;
    display: flex;
}
.mx_DecoratedRoomAvatar {
    position: relative;
}

.mx_DecoratedRoomAvatar .nv_BridgedIcon {
    position: absolute;
    bottom: -8px;
    right: -8px;
    height: 21px;
    width: 21px;
    border-radius: 10px;
    background-color: #fff;
    &::before {
        height: 18px;
        width: 18px;
        z-index: 1;
    }
}

.nv_RoomTile2_active {
    background-color: #fff;
    .mx_DecoratedRoomAvatar .nv_BridgedIcon {
        background-color: #fff;
    }
}

.nv_RoomTile2_selected .mx_DecoratedRoomAvatar {
    &::after {
        content: "";
        width: 42px;
        height: 42px;
        grid-column: 1;
        grid-row: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #00cc73;
        border-radius: 50%;
    }

    &::before {
        content: "";
        width: 17px;
        height: 14px;
        grid-column: 1;
        grid-row: 1;
        mask-image: url("$(res)/img/feather-customised/check.svg");
        mask-size: 100%;
        mask-repeat: no-repeat;
        position: absolute;
        top: 14px;
        left: 12px;
        background-color: #ffffff; // this is fine without a var because it's for both themes
        z-index: 1;
    }

    .nv_BridgedIcon {
        z-index: 2;
    }
}

.nv_RoomTile2_bridgedIcon_selected {
    background-color: #00cc73;
    border-radius: 50%;
    &::before {
        background-image: none !important;
        content: "";
        width: 17px;
        height: 14px;
        grid-column: 1;
        grid-row: 1;
        mask-image: url("$(res)/img/feather-customised/check.svg");
        mask-size: 100%;
        mask-repeat: no-repeat;
        background-color: #ffffff; // this is fine without a var because it's for both themes
        z-index: 1;
    }
}

.nv_RoomTile2_badgeContainer {
    position: absolute;
    left: 15px;
    top: 19px;
}

.nv_RoomTile2_content {
    margin: 3px 0 3px 19px;
    display: flex;
    min-width: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .nv_RoomTile2_nameContainer {
        display: flex;
        height: 18px;
        justify-content: space-between;
        .nv_RoomTile2_name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &HasUnreadEvents {
                font-weight: 600;
            }
        }
        .nv_MessageTimestamp {
            font-weight: 400;
            position: relative;
            margin-left: 8px;
            font-size: 14px;
            top: -2px;
            color: $room-list-preview-color;
        }
    }
    .nv_RoomTile2_messagePreview {
        overflow: hidden;
        color: $room-list-preview-color;
        height: 18px;
    }
    .nv_RoomTile2_messagePreview > img {
        height: 10px;
        margin-right: 2px;
    }
}

.nv_RoomTile2_smallRow {
    padding: 3px 14px 3px 25px;
    height: 31px;
    .nv_RoomTile2_content {
        margin: 3px 0 3px 14px;
        flex-direction: row;
        justify-content: flex-start;
        overflow: hidden;
    }
    .nv_RoomTile2_nameWithPreview {
        margin-right: 8px;
    }
    .nv_BridgedIcon {
        filter: none;
        position: static;
        flex-shrink: 0;
    }
    .nv_RoomTile2_badgeContainer {
        left: 7px;
        top: 7px;
    }
}

.mx_RoomTile2_contextMenu .mx_IconizedContextMenu_icon {
    position: relative;
    width: 16px;
    height: 16px;

    &::before {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
        background: $primary-fg-color;
    }
}

.nv_RoomTile2_contextMenu_activeRow {
    &.mx_AccessibleButton, .mx_AccessibleButton, .mx_IconizedContextMenu_label {
        color: $accent-color !important; // !important to override styles from context menu
    }

    .mx_IconizedContextMenu_icon::before {
        background-color: $accent-color;
    }
}

.nv_RoomTile2_iconStar::before {
    mask-image: url('$(res)/img/element-icons/roomlist/favorite.svg');
}

.nv_RoomTile2_iconArrowDown::before {
    mask-image: url('$(res)/img/element-icons/roomlist/low-priority.svg');
}

.nv_RoomTile2_iconSettings::before {
    mask-image: url('$(res)/img/element-icons/settings.svg');
}

.nv_RoomTile2_iconSignOut::before {
    mask-image: url('$(res)/img/element-icons/leave.svg');
}

.nv_RoomTile_iconBellCrossed::before {
    mask-image: url('$(res)/img/element-icons/roomlist/notifications-off.svg');
}

.nv_RoomTile2_contextMenu_redRow {
    .nv_AccessibleButton, .mx_IconizedContextMenu_label {
        color: $warning-color !important; // !important to override styles from context menu
    }
    .mx_IconizedContextMenu_icon::before {
        background-color: $warning-color;
    }
}
