.mx_TopUnreadMessagesBar {
    z-index: 1000;
    position: absolute;
    top: 24px;
    right: 17px;
    width: 42px;
}

.mx_TopUnreadMessagesBar::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 11px;
    width: 4px;
    height: 4px;
    border-radius: 16px;
    background-color: $secondary-accent-color;
    border: 6px solid $accent-color;
    pointer-events: none;
}

.mx_TopUnreadMessagesBar_scrollUp {
    height: 42px;
    border-radius: 21px;
    box-sizing: border-box;
    background: $primary-bg-color;
    box-shadow: 0 1px 1px #A8A8A8;
    cursor: pointer;
    &:hover {
        background-color: #F2F3F5;
    }
}

.mx_TopUnreadMessagesBar_scrollUp::before {
    content: "";
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mask: url('$(res)/themes/nova-light/img/icon-jump-to-bottom.svg');
    mask-repeat: no-repeat;
    mask-position: 13px 17px;
    background: #A8A8A8;
}
