/*
Copyright 2019 New Vector Ltd

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.mx_AuthPage {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $authpage-bg-color;
}

.mx_AuthPage_modal {
    -webkit-app-region: no-drag;
    display: flex;
    margin: 100px auto auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
    background-color: $authpage-modal-bg-color;
}

@media only screen and (max-width: 480px) {
    .mx_AuthPage_modal {
        margin-top: 0;
    }
}
