$room-list-border-color: rgba(0, 0, 0, 0.05);
$room-list-room-tile-hover: #f0f0f0;
$room-list-preview-color: #757575;
$left-panel-bg: #F2F3F5;
$left-panel-font: Roboto, Twemoji, 'Apple Color Emoji', 'Segoe UI Emoji', Arial, Helvetica, sans-serif, 'Noto Color Emoji';
.nv_LeftPanel2 *, .nv_LeftPanel2 *::before, .nv_LeftPanel2 *::after {
    box-sizing: border-box;
}

.nv_LeftPanel2 {
    font-family: $left-panel-font;
    font-size: 14px;
    line-height: 21px;
    background-color: $left-panel-bg;
    min-width: 260px;
    max-width: 520px;
    display: flex;
    position: relative;
    & ~ .mx_ResizeHandle_horizontal > div {
        background: none;
    }
}

.nv_LeftPanel2_actualRoomListContainer {
    flex-grow: 1; // fill the available space
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    position: relative; // for sticky headers

    // Create a flexbox to trick the layout engine
    display: flex;
}

// TODO move styles
.nv_LeftPanel2 ~ .mx_HomePage {
    max-width: 100%; // override default width
    z-index: 2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.nv_LeftPanel2 ~ .mx_RoomView {
    z-index: 2;
    // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    .mx_RoomHeader {
        border-bottom-color: #e6e6e6;
        font-family: $left-panel-font;
    }
    .mx_MessageComposer {
        border-color: #e6e6e6;
        margin: 0 15px 15px 15px;
    }
    .mx_RoomHeader_wrapper {
        height: calc($top-bar-height - 1px);
    }
    .mx_RoomHeader_name {
        font-size: 16px;
        font-weight: 400;
        margin-top: 4px;
    }
}

.nv_LeftPanel2_roomListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    &.nv_LeftPanel2_ListForCategory {
        position: absolute;
        left: -100%;
        top: 0;
    }
}


.nv_LeftPanel2_headerContainer {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    padding: 0 15px 0 7px;
    height: $top-bar-height;
    display: flex;
    align-items: center;
    position: relative;
    flex: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    .nv_RoomSearch {
        -webkit-app-region: no-drag;
        margin-right: 10px;
    }
    .nv_UserMenu {
        flex-shrink: 0;
        top: 1px;
    }
}

.nv_LeftPanel2 {
    position: relative;
    overflow: hidden;
}
.nv_LeftPanel2 > aside {
    position: relative;
}
.nv_LeftPanel2 > div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #f2f3f5;
    z-index: 2;
    .mx_RoomSublist2_tiles {
        overflow: scroll;
        overflow: overlay;
        height: 100%;
    }
}

.mainList-enter, .mainList-exit {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -130px;
        right: -130px;
        bottom: 0;
        background-color: #000;
        opacity: 0.25;
        z-index: 3;
    }
}
.mainList-enter {
    transform: translateX(-25%);
}
.mainList-enter-active {
    transform: translateX(0);
    transition: transform 0.2s ease-out;
    &::before {
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }
}

.mainList-exit {
    transform: translateX(0);
    &::before {
        opacity: 0;
    }
}
.mainList-exit-active {
    transition: transform 0.15s ease-in;
    transform: translateX(-25%);
    &::before {
        opacity: 0.25;
        transition: opacity 0.15s ease-out;
    }
}


.tagList-enter {
    transform: translateX(100%);
}

.tagList-enter-active {
    transition: transform 0.2s ease-out;
    transform: translateX(0);
}

.tagList-exit {
    transform: translateX(0);
}
.tagList-exit-active {
    transform: translateX(100%);
    transition: transform 0.15s ease-in;
}
