.nv_RoomSearch {
    padding: 3px 13px 3px 10px;
    color: #c7c7c7;
    background: #fff;
    border-radius: 3px;
    position: relative;
    width: 100%;
    border: 1px solid #cacfd2;
    &_active {
        // TODO
    }
    .nv_RoomSearch_input {
        width: 100%;
        padding: 0 19px 0 0 !important;
        margin: 0 !important;
        border: none !important;
        font-family: $left-panel-font;
        font-size: inherit;
        line-height: inherit;
        font-weight: 400;
    }
}
.nv_RoomSearch_shortcutLabel {
    position: absolute;
    top: 8px;
    right: 13px;
    user-select: none;
    pointer-events: none;
    font-weight: 500;
}

.nv_RoomSearch_clearButton {
    position: absolute;
    top: 6px;
    right: 9px;
    width: 15px;
    height: 15px;
    mask-image: url('$(res)/img/feather-customised/x.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background: #999999;
}
