.nv_UserMenu {
    height: 27px;
    width: 27px;
    position: relative;
    -webkit-app-region: no-drag;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        mask-image: url('$(res)/themes/nova-light/img/icon-settings.svg');
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
        background-color: #757575;
    }
}
